.fa-github {
      color: #000;
    }
.fa-twitter{
  color: #00acee;
}
.fa-linkedin{
color: #0e76a8;
}
.fa-envelope{
  color: #808080;
  }
.fa-orcid{
color: #a6ce39;
}
.ai-researchgate{
color: #2e5953;
}
.ai-google-scholar{
color: #76a7fa;
}
